<h1>
    Lista de Productos Online
</h1>

<div id="contenedor-productos">
    {{#each data}} 
    {{/each}}
</div>
</div> 
    <form >
         <fieldset>Agregar Producto</fieldset>
         
        <label for="">Titulo del producto:</label>
        <input type="text" name="title" id="title">
        
        <br>
        <label for="">Descripcion del producto:</label>
        <input type="text" name="description" id="description">
        <br>

        <label for="">Cógido del producto:</label>
        <input type="text" name="code" id="code">

        <br>
        <label for="">Precio del producto:</label>
        <input type="text" name="price" id="price">
        <br>

        <label for="">Estado del producto:</label>
        <input type="text" name="status" id="status">

        <br>
        <label for="">Stock</label>
        <input type="text" name="stock" id="stock">

        <br>
        <label for="">Categoria del producto</label>
        <input type="text" name="category" id="category">
        <br>

        <label for="">Thumbnails:</label>
        <input type="text" name="thumbnail" id="thumbnail" placeholder="Opcional">
        <br>
       

        <input id="agregar" type="submit">
    </form>

    <br><br><br>
    <form >
        <fieldset>Eliminar producto</fieldset>
        <label for="">Id</label>
        <input type="text" name="id" id="id">
        <input id="eliminar" type="submit">
    </form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>